
.addTaskHeader{
    margin-bottom: 0px;
    background-color: white !important;
}
.addTaskHeaderButton{
    color: #98C8BF !important;
    text-decoration: none !important;
    margin-left: 10px;
}
.addBodyCard{
    
    border-bottom-color: rgba(0, 0, 0, 0.125);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.paddingHeaderCard{
    padding: 0px 0px 5px 0px !important;
}

.borrar-tarea{
    
    float: right;
    cursor: pointer;
    color: red !important;
    font-weight: bold;
    
}

.ocultar{
    display: none;
}

.mostrar{
    display: block;
}

.enlinea{
    display: inline-block !important;
}




/* ul{
    display: flex;
}

li{
    list-style: none;
    margin-left: 20px;
}
.prioridad{
    width: 50%;
    margin-top: 30px;
  
}

.agregar{
    width: 50%;
} */
